@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box
}

:root{
    --primary-color: #ffeafb;
    --secondary-color: #fecced;


}
body {
    background-color: var(--primary-color);
    font-family: 'Montserrat';
    font-size: 20px;
    margin: 0;
}

header{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display:flex;
    justify-content:center;
    background-color: var(--secondary-color);
}

.search{
    background-color:transparent;
    border: 3px solid;
    border-color: white;
    padding:0.5rem 1rem;
    border-radius: 1rem;
    color: #000;
    font-family: inherit;
    font-size: 20px;
    text-align: center;
    
}

.search:focus{
    outline:0;
    background-color: var(--primary-color);
}

.search::placeholder{
    color: #000
}

.submit{
    background-color: #a3e7c3;
    border: 2px solid;
    padding:0.5rem 1rem;
    border-radius: 1rem;
    border-color: white;
    color: #000;
    font-family: inherit;
    font-size: 20px;
    text-align: center;
}
main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie{
    width:300px;
    margin: 1rem;
    border-radius: 1rem;
    background-color: #a3e7c3;
    padding: 1rem;
    position: relative;
    overflow: hidden; 

}

.movie img{
    width: 100%
}

.movie-info{
    color: #000;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
}

movie-info h3{
    margin-top: 0
}

.movie-info span{
background-color:transparent;
border: 2px solid #000;
padding:0.5rem 1rem;
border-radius: 1rem;
color: #000;
font-family: inherit;
font-size: 15px;
margin-right: 10px;
margin-left: 10px;
font-weight: bold;
}

.overview{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background-color: #eee;
    padding: 1rem;
    max-height: 100%;
    transform:translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview{
    transform:translateY(0);
}

#tags{
    width: 80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag{
    color: white;
    padding: 10px 20px;
    background-color: black;
    border-radius: 30px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}


#shorts{
    display: inline-block;
text-align: center;
    color: white;
    padding: 10px 20px;
    background-color: black;
    border-radius: 30px;
    margin: 5px;
    cursor: pointer;
    height: 44px;
} 

#black{
    display: inline-block;
text-align: center;
    color: white;
    padding: 10px 20px;
    background-color: black;
    border-radius: 30px;
    margin: 5px;
    cursor: pointer;
    height: 44px;
} 

.logo{
    font-family: Matemasie;
    font-size: 7rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.inside-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#shorts.highlight{
    display: inline-block;
    align-items: center;
    color: black;
    background-color: white;

}

#black.highlight{
    display: inline-block;
    align-items: center;
    color: black;
    background-color: white;

}

.release-tag{
    display: inline-block;
    text-align: center;
    color: white;
    padding: 10px 20px;
    background-color: black;
    border-radius: 30px;
    margin: 5px;
    cursor: pointer;
    height: 44px;
} 

#releaseyear.highlight{
    display: inline-block;
    align-items: center;
    color: black;
    background-color: white;

}

